#main-box {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.container {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 50px;
}

.container-vertical {
	width: 480px;
	height: 820px;
}

.container-horizontal {
	width: 750px;
	height: 380px;
}

.container-horizontal:first-child {
	height: 400px;
}
