header {
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#greeting-box {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
}

#greeting-name {
	cursor: pointer;
}

#greeting {
	font-size: var(--xlarge);
	font-weight: 800;
	cursor: pointer;
}

#greeting-img {
	width: 170px;
	display: none;
}

#greeting-name:hover #greeting {
	display: none;
}

#greeting-name:hover #greeting-img {
	display: unset;
}

.nav-btn {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	cursor: pointer;
}

.nav-btn img {
	width: 80px;
}

.btn-text {
	width: 73px;
	padding: 5px 0px;
	border-radius: 15px;
	border-top-left-radius: 0px;
	background-color: var(--cornfb);
	color: white;
	text-align: center;
	font-size: var(--medium);
}

#default-text:first-child,
#hover-text:nth-child(2) {
	margin-right: 5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 0px;
}

#hover-text {
	display: none;
}

.nav-btn:hover {
	animation: navBtnRotate 2s linear infinite;
}

.nav-btn:hover .btn-text {
	background-color: white;
}

.nav-btn:hover #default-text {
	display: none;
}

.nav-btn:hover #hover-text {
	display: unset;
	text-align: end;
	color: var(--cornfb);
}

.nav-btn:hover #hover-text:last-child {
	text-align: start;
}

@keyframes navBtnRotate {
	0% {
		transform: rotateZ(0);
	}
	25% {
		transform: rotateZ(10deg);
	}
	50% {
		transform: rotateZ(0);
	}
	75% {
		transform: rotateZ(-10deg);
	}
	100% {
		transform: rotateZ(0);
	}
}
