#logout {
	align-self: flex-end;
	opacity: 0.5;
	position: relative;
}

.logout-img {
	width: 90px;
}

.logout-text {
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-size: var(--medium);
	color: var(--light-gray);
	position: absolute;
	top: 22px;
	right: -8px;
	display: none;
}

.logout-img__hover {
	display: none;
}

#logout:hover {
	cursor: pointer;
	animation: logoutBtnColor 0.5s ease-in-out forwards;
}

#logout:hover .logout-text {
	display: unset;
}

#logout:hover .logout-img {
	display: none;
}

#logout:hover .logout-img__hover {
	display: unset;
}

@keyframes logoutBtnColor {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}
