#memo input {
	width: 100%;
	height: 80px;
	padding: 5px;
	border-radius: 20px;
	text-align: center;
	font-size: var(--default);
	color: var(--cornfb);
}

#memo input::placeholder {
	font-size: var(--small);
	font-style: italic;
	color: var(--light-gray);
}

#memo input:focus-within {
	border: 1px solid var(--cornfb);
}

#memo-list {
	height: 85%;
	margin: 10px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: white transparent;
	scrollbar-width: thin;
}

#memo-list li {
	width: 96%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	height: max-content;
	background-color: white;
	border-radius: 20px;
	text-transform: none;
	margin-bottom: 8px;
	font-size: var(--default);
}

#memo-list li > span {
	overflow-wrap: break-word;
}

#memo-list button {
	all: unset;
	margin-left: 5px;
	font-size: var(--small);
	color: var(--light-gray);
	cursor: pointer;
	text-align: end;
}

#memo-list button:hover {
	color: var(--cornfb);
}
