#todo input {
	width: 100%;
	height: 30px;
	padding: 5px;
	border-radius: 20px;
	text-align: center;
	font-size: var(--default);
	color: var(--cornfb);
}

#todo input::placeholder {
	font-size: var(--small);
	font-style: italic;
	color: var(--light-gray);
}

#todo-list {
	height: 95%;
	margin: 10px 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#todo-list li {
	text-transform: none;
	margin-bottom: 8px;
	font-size: var(--default);
}

#todo-list button {
	all: unset;
	margin-left: 5px;
	font-size: var(--small);
	color: var(--light-gray);
	cursor: pointer;
}

#todo-list button:hover {
	color: var(--cornfb);
}
