#work-station {
	height: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

#work {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.youtube iframe {
	border-radius: 40px;
}

#work-helpers {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#google {
	display: flex;
	justify-content: center;
	align-items: center;
}

#google i {
	color: var(--cornfb);
}

#google form {
	margin-left: 5px;
}

#google input {
	height: 30px;
	padding: 5px;
	border-radius: 20px;
	text-align: center;
	font-size: var(--default);
	color: var(--cornfb);
	border: 1px solid white;
}

#google input::placeholder {
	font-size: var(--small);
	font-style: italic;
	color: var(--light-gray);
}

#google input:focus-within {
	border: 1px solid var(--cornfb);
}

#websites {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.website {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65px;
	height: 65px;
	border-radius: 10px;
	margin: 25px 0px;
}

.website img {
	width: 45px;
}

.website:hover {
	background-color: white;
	box-shadow: 3px 3px 0px 0px var(--cornfb);
}

#pomodoro {
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#pomodoro-timer {
	width: 180px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pomodoro-labels {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pomodoro-text {
	font-size: var(--small);
	font-style: italic;
	color: var(--light-gray);
}

.pomodoro-function {
	font-size: 20px;
	font-weight: 600;
}

.semicolon {
	margin: 0px -3px;
}

#pomodoro button {
	all: unset;
	font-size: var(--default);
	cursor: pointer;
	color: var(--cornfb);
	transition: color linear 0.3s, background-color linear 0.3s;
}

#pomodoro button:hover {
	color: white;
	transform: scale(1.2);
}
